<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" asp-route="home">ИТ-Сворм</a>
		</div>
	</nav>
	<main class="container">
		@RenderBody()
	</main>
	<script src="~/js/bootstrap.min.js"></script>
</body>
</html>
